@font-face {
  font-family: "Yu Mincho";
  src: url("./assets/font/yumin.ttf") format("truetype");
}

* {
  font-family: "Yu Mincho";
  font-weight: 600;
  color: #3b3b3b;
}

html {
  background-color: #e9e9e9;
}

.day {
  position: absolute;
  top: 40px;
  left: 140px;
  font-size: 24px;
}

.date {
  position: absolute;
  display: flex;
  top: 40px;
  right: 140px;
}

.link {
  font-size: 16px;
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.linktitle {
  font-size: 32px;
}

.image {
  width: 200px;
}

.contentContainer {
  display: flex;
  justify-content: space-evenly;
  width: 800px;
}

.timeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  top: 50px;
  justify-content: center;
  position: absolute;
}

.linkContainer {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.horizontalLine {
  display: none;
  position: absolute;
  top: 100px;
  height: 1px;
  width: calc(100% - 80px);
  background-color: #3b3b3b;
}

@media (max-width: 1050px) {
  .day {
    position: absolute;
    top: 40px;
    left: 40px;
    font-size: 24px;
  }

  .date {
    position: absolute;
    display: flex;
    top: 40px;
    right: 40px;
  }

  /* .link {
    font-size: 12px;
  }

  .linktitle {
    font-size: 24px;
  } */

  /* .image {
    width: 163.5px;
  } */

  .contentContainer {
    display: flex;
    justify-content: space-evenly;
    max-width: 700px;
    width: 80vw;
  }
}

@media (max-width: 800px) {
  .horizontalLine {
    display: block;
  }

  .contentContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 40px;
    max-width: none;
  }
  .contentContainer .image {
    display: none;
  }
  .contentContainer .linkContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 40px;
    /* padding-top: 100px; */
  }
  .contentContainer .linkContainer .linkpadding {
    padding: 20px;
    margin-top: 20px;
    border: #3b3b3b 1px solid;
  }
  .contentContainer .linkContainer .linkpadding .linktitle {
    font-size: 32px;
  }
  .contentContainer .linkContainer .linkpadding .link {
    font-size: 18px;
  }
  .timeContainer {
    height: auto;
    top: 120px;
    left: 40px;
    flex-direction: row;
    justify-content: space-between;
  }
  .timeContainer div {
    font-size: 24px !important;
  }
  .timeContainer :last-of-type {
    display: none;
  }
}

@media (max-height: 750px) {
  .contentContainer {
    margin-top: 30vh;
    margin-bottom: 50px;
  }
}

@media (max-height: 500px) {
  .timeContainer {
    height: 0px;
    top: 80px;
  }
}

@media (max-height: 400px) {
  .timeContainer {
    display: none;
  }
}

/* @media (max-width: 360px) {
  .day {
    position: absolute;
    top: 40px;
  }

  .date {
    position: absolute;
    display: flex;
  }

  .contentContainer {
    margin-top: 350px;
  }
} */

/* @media (max-height: 320px) {
  .day {
    display: none;
  }

  .date {
    display: none;
  }

  .contentContainer {
    margin: 0px;
  }
} */

::-webkit-scrollbar {
  display: none;
}
